<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Chirp{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <!-- Navbar -->
    <nav style="background-color: #1da1f2; padding: 1em 0; text-align: center;">
      {% if current_user.is_authenticated %}
        <div style="display: flex; justify-content: space-between; margin: 0 auto; align-items: center;">
          <div style="color: white; font-weight: bold; font-size: 1.5em; margin-left: 1.5em;">🐦 Chirp</div>
          <div style="margin-right: 0.5em;">
            <a href="{{ url_for('main.feed') }}" style="color: white; margin: 0 1em;">Feed</a>
            <a href="{{ url_for('main.profile') }}" style="color: white; margin: 0 1em;">Profile</a>
            <a href="{{ url_for('main.settings') }}" style="color: white; margin: 0 1em;">Settings</a>
            <a href="{{ url_for('main.logout') }}" style="color: white; margin: 0 1em;">Logout</a>
          </div>
        </div>
      {% else %}
        <div style="color: white; font-weight: bold; font-size: 1.5em;">🐦 Chirp</div>
      {% endif %}
    </nav>


    <hr />
    {% with messages = get_flashed_messages(with_categories=true) %} {% for
    category, message in messages %}
    <p style="color: red">{{ message }}</p>
    {% endfor %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
